.Certificate {
  font-size: 48px;
  font-weight: bold;
  color: white;
  margin-top: 80px;
}

.CertificateTitle {
  font-size: 20px;
  font-weight: bold;
  margin-top: 50px;
}

.CertificateText {
  margin-top: 20px;
  font-weight: bold;
}

.CertificateSubText {
  font-size: 14px;
  margin-top: 10px;
  margin-left: 25px;
  font-weight: 400;
  padding: 20px;
  display: grid; 
  gap: 20px; 
}

.CertificateTitle li {
  padding-left: 10px;
}

.CertificateTitle li::marker {
  content: "•";
  color: white;
  font-size: 24px;
}

.CertificateSubText li {
  padding-left: 10px;
}

.CertificateSubText li::marker {
  content: "✓";
  color: bisque;
  font-size: 24px;
}
