.Skill {
  font-size: 48px;
  font-weight: bold;
  color: white;
}

.SkillTitle {
  font-size: 48px;
  font-weight: bold;
  color: white;
  margin-top: 40px;
  text-align: center;
}

.SkillSection {
  margin-top: 30px;
}

.SkillSubTitle {
  margin-top: 50px;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.SkillBadges {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  margin-top: 10px;
}

.SkillBadgeContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 140px;
  cursor: pointer;
  margin: 15px;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 15px;  
}

.SkillBadgeImage {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}


.SkillBadgeText {
  font-size: 20px;
  color: black;
  text-align: center;
}

.SkillDescription {
  font-size: 18px;
  font-weight: bold;
  color: black;
  text-align: center;
}



/* 소프트 스킬 */

.SoftSkillTitle {
  font-size: 20px;
  font-weight: bold;
  margin-top: 50px;
}

.SoftSkillText {
  margin-top: 20px;
  font-weight: bold;
}

.SoftSkillSubText {
  font-size: 14px;
  margin-top: 10px;
  margin-left: 25px;
  font-weight: 400;
  padding: 20px;
}

.SoftSkillSubText li {
  padding-left: 10px;
}

.SoftSkillSubText li::marker {
  content: "✓";
  color: bisque;
  font-size: 20px;
}

